a{
    text-decoration: none;
}

.card {
    width: 100%;
    display: grid;
    justify-content: space-between;
    background: var(--secondary-bg);
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: var(--box-shadow);
    grid-template-areas:   
        "item1 item2"  
        "item3 item3" 
        "item4 item5"; 
}

.header {
    grid-area: item1;
    margin-bottom: 2.8rem;
}

.title span{
     color: #7E88C3;
}

.dueDate {
    grid-area: item3;
}

.amount {
    grid-area: item4;
     color: var(--primary-text-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.name {
    grid-area: item2;
}

.footer {
    display: none;
}

.badge {
    grid-area: item5;
}


@media (min-width: 600px) {
.header, .dueDate, .amount, .badge, .name{
    grid-area: unset;
    margin: unset;
 }

 .footer{
    display: unset;
 }

 .card{
    grid-template-areas: unset;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    padding: 1.4rem 2rem;
 } 
}
