.form{
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.input {
    border:1px solid #DFE3FA;
}


.form h1{
    text-align: center;
    color: var(--primary-text);
}

.form ::placeholder{
    color: #e5e5e5; 
}
                                    
.form button{
    padding: 1.2rem;
    font-size: 1.3rem;
    justify-content: center;
}
