.datePickerContainer{
     position: relative;
     display: inline-block;
     min-width: 18rem;
}

.inputWrapper{
    display: flex;
     background: var(--secondary-bg);
    justify-content: space-between;
    align-items: center;
     outline: 1px solid var( --dropdown-border);
     gap: 3rem;
     padding: 1rem;
     width: 100%;
}

.inputWrapper input{
    flex: 1;
    outline: none !important;
    padding: 0;
    text-align: left;

}

.calendar{
    position:absolute;
     margin-top: 0.6rem;
     left: 0;
     width: 100%;
     z-index: 5;
     padding: 1rem !important;

}
