.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main{
    padding: 2rem 3rem;
    position: relative;
    overflow-y: scroll;
    height: auto;
}


.error input{
  border:1px solid var(--danger)
}

.error p{
  color:var(--danger)
}


@media (min-width: 1025px) and (max-width: 1280px) {
    .main{
        flex: 1;
        padding: 3rem 8rem ;
    }

  .app{
    flex-direction: row;
  }
}
